.home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;

	& > .section {
		display: flex;
		flex-direction: column;
		padding: 16px;
		width: 100%;
		max-width: 600px;
		border: 1px solid var(--primary);
		background-color: var(--dark);
		border-radius: 8px;
		margin-bottom: 20px;

		& > .head {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& > .name {
				margin-right: 10px;
			}
		}

		& > .content {
			display: flex;
			flex-wrap: wrap;
			margin-top: 24px;

			& > div {
				width: 50%;
				margin-bottom: 8px;
			}
		}
	}
}
